
    <!-- Main content -->
    <div class="content-wrapper" >
    <div class="jumbotron">
    <form method="post" id="productForm" style="margin-left:20%;" enctype="multipart/form-data" >
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <br>  

              <h1 style="margin-top: -9%;" >Add Company</h1>
            </br>
              <div>
              <label style="margin-left:-17%" for="product_name">Company Name:</label>
              <input  style="width: 27%;"  type="" name="company_name" id="company_name" placeholder="Product Name">
              </div>
              <div>
              </br>
              <label style="margin-left:-17%" for="product_code">Gst Code:</label>
              <input  style="width: 27%; margin-left: 1%;"  type="" name="gst" id="gst" placeholder="Product Code"> 
              
              </div>
              </br>
             
            
            <td></td><td></td>
            <tr>
              <td colspan="2"><input style="margin-left: -17%;
    margin-top: 4%;
    width: 19%;"  type="submit" value="Add"></td>
            </tr>
         

</form>
</div>
</div>


